*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a, p, h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}
html,body{
    height: 100%;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.button{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.link{
    font-size: 40px;
    position: relative;
}
.link::after{
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}
.link:hover::after{
    width: 100%;
    opacity: 1;
}
